.git
.github
.venv
venv
tests
docs
docker-compose.yml
Makefile
.env
.env.*
.pre-commit-config.yaml
.coverage
htmlcov
**/__pycache__
**/*.pyc
.mypy_cache
.pytest_cache
.ruff_cache
.import_linter_cache
